
h1{
    text-align: center;
    color: rgb(224, 226, 243);
    font-weight: 500;
}
.spinner{
    margin-left: 45%;
    margin-top: 16%;
    border: 18px solid #e17969;
    border-top: 18px solid #721212;
    border-radius: 35%;
    opacity: 2;
    width: 100px;
    height: 100px;
    animation: spin 2.1s linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}